Repository lekman/magsafe-buskill: changes, and which Codecov flags are due for each by the changed paths.
All: domain, models, usecases

.codecov.yml:

# Codecov Configuration
# NOTE: Coverage is only tracked for MagSafeGuardLib (SPM package)
# Xcode-specific code cannot be covered in CI

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: "80...100"

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_not_found: success
        if_ci_failed: error
        informational: false
        only_pulls: false
    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_not_found: success
        if_ci_failed: error
        informational: false
        only_pulls: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false

# Coverage Targets by Component (aligned with TEST_REFACTORING_PLAN_V2.md)
flags:
  domain:
    paths:
      - MagSafeGuardLib/Sources/MagSafeGuardDomain/
    target: 95% # Domain Use Cases: 95-100%

  models:
    paths:
      - MagSafeGuardLib/Sources/MagSafeGuardDomain/Models/
    target: 100% # Data Models: 100%

  usecases:
    paths:
      - MagSafeGuardLib/Sources/MagSafeGuardDomain/UseCases/
    target: 95% # Business logic: 95-100%

ignore:
  # Only MagSafeGuardLib is covered - exclude everything else
  - "MagSafeGuard/"
  - "MagSafeGuardTests/"
  - "MagSafeGuardUITests/"

  # Test Infrastructure (not covered by design - per TEST_REFACTORING_PLAN_V2.md)
  - "MagSafeGuardLib/Tests/"
  - "**/Tests/"
  - "**/TestInfrastructure/"
  - "**/Mock*.swift"
  - "**/Mocks/"
  - "**/Builders/"
  - "**/Fixtures/"
  - "**/Assertions/"

  # System Integration Layer in MagSafeGuardLib (excluded per plan)
  - "MagSafeGuardLib/Sources/MagSafeGuardInfrastructure/"
  - "**/MacSystemActions.swift"
  - "**/IOKit*.swift"
  - "**/CoreLocation*.swift"
  - "**/Network*.swift"

  # Infrastructure
  - ".githooks/"
  - ".github/"
  - "docs/"
  - "scripts/"
  - "logs/"
  - ".claude/"
  - ".git/"
  - ".scannerwork/"
  - ".sonarcloud/"
  - ".task/"
  - ".taskmaster/"
  - ".vscode/"
  - "DerivedData/"
  - "MagSafeGuard.xcodeproj/"
  - "tasks/"

fix(security): comprehensive security enhancements for script execution
  MagSafeGuard/Services/MacSystemActions.swift
  MagSafeGuard/Services/SystemActionsProtocol.swift
Due: none

feat(security): implement resource protection with rate limiting and circuit breaker
  MagSafeGuard/Services/SecurityActionsService.swift
  MagSafeGuardLib/Sources/MagSafeGuardDomain/Protocols/SecurityActionProtocols.swift
Due: domain

chore(ci): disable patch coverage requirements in Codecov
  .codecov.yml
Due: none

feat(security): implement comprehensive circuit breaker and resource protection
  .codecov.yml
  MagSafeGuard/Data/Repositories/CoreLocationRepository.swift
  MagSafeGuard/Data/Repositories/MacSystemActionsRepository.swift
  MagSafeGuard/Data/Repositories/NetworkFrameworkRepository.swift
  MagSafeGuard/Security/CircuitBreaker.swift
  MagSafeGuard/Security/RateLimiter.swift
  MagSafeGuard/Security/ResourceProtectionPolicyAdapter.swift
  MagSafeGuard/Security/ResourceProtector.swift
  MagSafeGuard/Services/AuthenticationContextProtocol.swift
  MagSafeGuard/Services/LocationManagerProtocol.swift
  MagSafeGuard/Services/MacSystemActions.swift
  MagSafeGuard/Services/NetworkMonitor.swift
  MagSafeGuard/Services/SecurityActionsService.swift
  MagSafeGuardLib/Sources/MagSafeGuardDomain/Protocols/ResourceProtectionProtocols.swift
  MagSafeGuardLib/Sources/MagSafeGuardDomain/UseCases/ProtectedActionUseCase.swift
  MagSafeGuardLib/Tests/MagSafeGuardDomainTests/UseCases/ProtectedActionUseCaseTests.swift
  MagSafeGuardLib/Tests/TestInfrastructure/Mocks/MockResourceProtection.swift
  MagSafeGuardLib/Tests/TestInfrastructure/Mocks/MockSecurityActionRepository.swift
  MagSafeGuardTests/Repositories/MacSystemActionsRepositoryTests.swift
  MagSafeGuardTests/Security/CircuitBreakerTests.swift
  MagSafeGuardTests/Security/RateLimiterTests.swift
  MagSafeGuardTests/Security/ResourceProtectorTests.swift
  docs/architecture/best-practices.md
  docs/architecture/clean-architecture-patterns.md
  docs/architecture/clean-architecture-refactoring.md
  docs/architecture/resource-protection-guide.md
  docs/architecture/spm-separation-guide.md
  docs/features/log-viewer-ui.md
Due: domain, usecases

refactor: Mock Classes and Enhance Testing Coverage
  .swiftlint.yml
  MagSafeGuard/Data/Repositories/MacSystemActionsRepository.swift
  MagSafeGuard/Security/CircuitBreaker.swift
  MagSafeGuard/Security/ResourceProtectionPolicyAdapter.swift
  MagSafeGuard/Services/MacSystemActions.swift
  MagSafeGuard/Services/SystemActionsProtocol.swift
  MagSafeGuardLib/Tests/MagSafeGuardDomainTests/Protocols/ResourceProtectionProtocolsTests.swift
  MagSafeGuardTests/Mocks/MockAuthenticationContextFactory.swift
  MagSafeGuardTests/Mocks/MockSystemActions.swift
  MagSafeGuardTests/Security/CircuitBreakerTests.swift
  MagSafeGuardTests/Security/RateLimiterTests.swift
  MagSafeGuardTests/Security/ResourceProtectorTests.swift
  MagSafeGuardTests/Services/MacSystemActionsTests.swift
  docs/ai/agent-setup-instructions.md
  docs/ai/subagents-guide.md
  sbom.spdx
  tasks/swift.yml
Due: none

refactor: rename default configurations to defaultConfig for clarity
  MagSafeGuardLib/Sources/MagSafeGuardDomain/Protocols/ResourceProtectionProtocols.swift
  MagSafeGuardLib/Tests/MagSafeGuardDomainTests/Protocols/ResourceProtectionProtocolsTests.swift
  MagSafeGuardTests/Security/CircuitBreakerTests.swift
  MagSafeGuardTests/Security/RateLimiterTests.swift
  docs/architecture/resource-protection-guide.md
Due: domain
